.performance-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
}

.doughnut-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.percentage-text {
  font-size: 30px;
  font-weight: bold;
  color: #4caf50; /* Green color for the performance */
  margin-top: 10px;
  text-align: center;
}
.performance-chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 20px;
}

.subject-pie-chart {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subject-pie-chart h4 {
  margin: 10px 0;
}

.subject-pie-chart p {
  font-size: 14px;
  color: #555;
}
